<div class="repo-heading">
  <a ng-href="{{repo.html_url}}" class="repo-name" target="_blank">
    <i class="fas fa-code-branch"></i>{{repo.name}}</a>
</div>
<p class="repo-desc">{{repo.description}}</p>

<div class="chart-container" ng-controller="repoDetailController">
  <div class="row">

    <div class="col-md-2">
      <ul class="api-list">
        <li class="api-item">
          <a ng-click="showApiChart(1)">API 1</a>
        </li>
        <li class="api-item">
          <a ng-click="showApiChart(2)">API 2</a>
        </li>
        <li class="api-item">
          <a ng-click="showApiChart(3)">API 3</a>
        </li>
        <li class="api-item">
          <a ng-click="showApiChart(4)">API 4</a>
        </li>
        <li class="api-item">
          <a ng-click="showApiChart(5)">API 5</a>
        </li>
      </ul>
    </div>

    <div class="col-10">
      <div class="chart-info">
        <h5>Get contributors list with additions, deletions, and commit counts</h5>
        <p>GET /repos/:owner/:repo/stats/contributors</p>  
        <span class="info">Note: Graph might not be shown when all values are 0.</span>  
        <div class="chart" id="contributor-list-chart_{{repoIndex}}" ng-controller="contributorListChartController"></div>
        <div id="contributor-list-error_{{repoIndex}}" class="error">
          <h6>Sorry, API didn't return proper response.</h6>
          <p>Please refresh or try later!!</p>
        </div>
      </div>
      <div class="chart-info">
        <h5>Get the last year of commit activity data</h5>
        <p>Returns the last year of commit activity grouped by week. The days array is a group of commits per day, starting
          on Sunday
          <br>GET /repos/:owner/:repo/stats/commit_activity</p>
        <span class="info">Note: Graph might not be shown when all values are 0.</span>
        <div class="chart" id="commit-activity-chart_{{repoIndex}}" ng-controller="commitActivityChartController"></div>
        <div id="commit-activity-error_{{repoIndex}}" class="error">
          <h6>Sorry, API didn't return proper response.</h6>
          <p>Please refresh or try later!!</p>
        </div>
      </div>
      <div class="chart-info">
        <h5>Get the number of additions and deletions per week</h5>
        <p>Returns a weekly aggregate of the number of additions and deletions pushed to a repository.
          <br>GET /repos/:owner/:repo/stats/code_frequency</p>
        <span class="info">Note: Graph might not be shown when all values are 0.</span>
        <div class="chart" id="weekly-addition-deletion-chart_{{repoIndex}}" ng-controller="weeklyAdditionDeletionChartController"></div>
        <div id="weekly-addition-deletion-error_{{repoIndex}}" class="error">
          <h6>Sorry, API didn't return proper response.</h6>
          <p>Please refresh or try later!!</p>
        </div>
      </div>
      <div class="chart-info">
        <h5>Get the weekly commit count for the repository owner and everyone else</h5>
        <p>Returns the total commit counts for the owner and total commit counts in all. all is everyone combined, including
          the owner in the last 52 weeks. If you'd like to get the commit counts for non-owners, you can subtract owner from
          all.
          <br>GET /repos/:owner/:repo/stats/participation</p>
          <span class="info">Note: Graph might not be shown when all values are 0.</span>
          <div class="chart" id="weekly-commit-count-chart_{{repoIndex}}" ng-controller="weeklyCommitCountChartController"></div>
        <div id="weekly-commit-count-error_{{repoIndex}}" class="error">
          <h6>Sorry, API didn't return proper response.</h6>
          <p>Please refresh or try later!!</p>
        </div>
      </div>
      <div class="chart-info">
        <h5>Get the number of commits per hour in each day</h5>
        <p>Each array contains the day number, hour number, and number of commits
          <br>GET /repos/:owner/:repo/stats/punch_card</p>
          <span class="info">Note: Graph might not be shown when all values are 0.</span>
          <div class="chart" id="hourly-commit-chart_{{repoIndex}}" ng-controller="hourlyCommitChartController"></div>
        <div id="hourly-commit-error_{{repoIndex}}" class="error">
          <h6>Sorry, API didn't return proper response.</h6>
          <p>Please refresh or try later!!</p>
        </div>
      </div>

    </div>
  </div>

</div>