<div class="user-details" ng-controller="userDetailController">
  <div class="container">
    <div class="row">

      <div class="user-info">
        <img class="img-thumbnail img-fluid" ng-src="{{userDetails.avatar_url}}" alt="">
        <h2>{{userDetails.login}}</h2>
        <span ng-if="userDetails.name" class="extra-info">
          <i class="far fa-user"></i>
          {{userDetails.name}}
        </span>        
        <span ng-if="userDetails.email" class="extra-info">
          <i class="far fa-envelope-open"></i>
          {{userDetails.email}}
        </span>        
        <span ng-if="userRepos" class="extra-info">
          <i class="fas fa-code-branch"></i>
          {{userRepos.length}} Repos
        </span>

      </div>      
      
      <div class="repo-list">
        <div class="repo-item" ng-repeat="repo in userRepos">          
          <div repo-detials-directive repo="repo"></div>
        </div>
      </div>
    </div>    

  </div>
</div>