<div class="jumbotron" ng-controller="searchUserController">

    <!-- Search Form -->
    <div class="input-form">
      <div class="container">
        <form name="searchUserForm">
          <div class="row">

            <!-- input field -->
            <div class="col-md-4 offset-4">
              <div class="form-group">
                <input type="text" class="form-control" name="userName" ng-model="userName" placeholder="User Name" required autocomplete="off">
                <!-- <label 
                  for="userName"
                  ng-class="searchUserForm.userName.$dirty && searchUserForm.userName.$viewValue != '' ? 'active-label' : '';">User Name</label> -->
              </div>
              <button class="btn btn-primary" ng-class="searchUserForm.$valid ? 'active-btn' : 'inactive-btn' " ng-click="onSubmit()" ng-disabled="searchUserForm.$invalid">
                <span ng-if="showSpinner">
                  <i class="fa fa-lg fa-spinner fa-spin"></i>
                </span>
                <span ng-if="!showSpinner">
                  Search
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Search Result -->
    <div class="search-result">
      <div class="container">
        <div class="row">

          <!-- when no user found -->
          <div ng-if="showNotFoundMessage">
            <h3>Hmmmm!!! No user found.</h3>
            <p>Please try again with another name.</p>
          </div>
          <div ng-if="!showNotFoundMessage">
            <h3>Search Result -
              <span ng-bind="total_count"></span> user found <span ng-if="showExtraInfo" class="info">(Showing only 50 results)</span></h3>
          </div>
        </div>
        <hr>
        <div class="row">

          <div class="col-md-3 user" ng-repeat="user in users">            
            <img class="img-thumbnail img-fluid" ng-src="{{user.avatar_url}}" alt="{{user.login}}">
            <h4 ng-bind="user.login"></h4>
            <a ng-click="onViewDetails(user.login)">View Profile</a>            
          </div>

        </div>
        <!-- <div class="table-responsive">

          <table class="table" id="userData">
            <tbody>
              <tr ng-repeat="user in users">
                <td>
                  <img class=" img-thumbnail img-fluid user-avatar" ng-src="{{user.avatar_url}}" alt="">
                </td>
                <td>
                  <p ng-bind="user.login"></p>
                </td>
                <td>
                  <a ng-click="onViewDetails(user.login)">View Profile</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
    </div>

  </div>